/* Define Gruvbox dark color scheme variables */
:root {
  --bg-h: #1d2021; /* hard dark background */
  --bg: #282828; /* dark background */
  --bg-s: #32302f; /* soft dark background */
  --bg1: #3c3836; /* dark bg1 */
  --bg2: #504945; /* dark bg2 */
  --bg3: #665c54; /* dark bg3 */
  --bg4: #7c6f64; /* dark bg4 */
  --fg: #ebdbb2; /* dark fg */
  --fg0: #fbf1c7; /* dark fg0 */
  --fg1: #ebdbb2; /* dark fg1 */
  --fg2: #d5c4a1; /* dark fg2 */
  --fg3: #bdae93; /* dark fg3 */
  --fg4: #a89984; /* dark fg4 */

  /* Gruvbox accent colors */
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --orange: #d65d0e;

  /* Bright Gruvbox accent colors */
  --bright-red: #fb4934;
  --bright-green: #b8bb26;
  --bright-yellow: #fabd2f;
  --bright-blue: #83a598;
  --bright-purple: #d3869b;
  --bright-aqua: #8ec07c;
  --bright-orange: #fe8019;

  /* General theme variables */
  --primary-color: var(--green);
  --text: var(--fg);
  --base: var(--bg-h);
  --border: var(--green);
  --foreground: var(--fg);
  --background: var(--bg);
  --selected-text: var(--bg);
}

/* Global styles */
* {
  all: unset;
}

* {
  font-family: "Maple Mono", monospace;
  font-size: 18px;
  color: var(--text);
}

/* Hide scrollbar */
scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

/* Main box container */
.box-wrapper {
  background: var(--background);
  padding: 20px;
  border: 2px solid var(--border);
}

/* Search container */
.search-container {
  background: var(--base);
  padding: 10px;
}

/* Input */
.input placeholder {
  opacity: 0.5;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

/* List */
.list {
  background: transparent;
}

/* Items */
.item-box {
  padding-left: 14px;
  border-radius: 0px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

child:selected .item-box {
  background: var(--primary-color);
  color: var(--selected-text);
}

child:selected .item-box * {
  color: var(--selected-text);
}

.item-text {
  color: var(--text);
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

/* Keybinds */
.keybind-hints {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--border);
}
